<ion-header [translucent]="true">
  <ion-item>
    <img src="../../assets/img/anh1.png" alt="">
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-div class="chinh">
  <ion-input placeholder="Nhập chứng minh nhân dân"></ion-input> 
  <ion-icon name="key-outline"></ion-icon>
</ion-div>
  <br>
  <br>
  <ion-button fill="clear">Đăng nhập</ion-button>
</ion-content>