ion-header{
  background-color: orange;
  padding: 20%;
  ion-item{
    position: absolute;
    border-radius: 100%;
    top: 50%;
    width: 220px;
    left: 22%;
  }
}
ion-div{
  display: flex;
}
ion-content{
  top: 16%;
  ion-input{
    margin-left: 50px;
    border-bottom:solid 1px rgb(151, 151, 151);
    width: 100%;
    border-radius: 10%;
  }
  ion-icon{
    margin-top: 10px;
    margin-right: 40px;
    }
    ion-button{
    color: orange;
    margin-left: 45px;
    width: 80%;
    border-color: orange;
    border: solid 1px;
    border-radius: 10px;
    }
}